PORT=5002
MONGODB_URI=mongodb://localhost:27017/SE
JWT_SECRET=YOUR_JWT_SECRET_KEY
JWT_EXPIRE=7d
NODE_ENV=.....
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GEMINI_MODEL=choose_most_favourable_model
ADMIN_REG_SECRET=replace_with_admin_registration_secret