PORT=5002
PORT_RETRIES=10
MONGODB_URI=mongodb://localhost:27017/SE
JWT_SECRET=YOUR_JWT_SECRET_KEY
JWT_EXPIRE=7d
NODE_ENV=.....
GEMINI_API_KEY=AIzaSyApFOPpdGlwD0epji4SU6NKgdwqOy6UtGk
GEMINI_MODEL="models/gemini-1.5-flash"